<div class="sellers-backdrop is-hidden-sellers" sellers-data-modal>
    <div class="modal-buy-section-container ">
        <button type="button" class="modal-buy-close-btn" sellers-data-modal-close>

            <svg width="28" height="28" class="modal-close-btn-icon">
                <use href="../img/symbol-defs.svg#icon-close"></use>
            </svg></button>
        <h2 class="section-title modal-buy-section-title"><span style="color: #FD9222;">BUY</span> NOW</h2>
        <div class="sellers-swiper-desctop">
            <ul class="modal-buy-section-list">
                <li class="modal-buy-section-item">
                    <picture>
                        <source
                            srcset="../img/modal_buy_order/choc-slice_@1x.jpg 1x, ../img/modal_buy_order/choc-slice_@2x.jpg 2x" />
                        <img class="modal-buy-section-img" src="../img/modal_buy_order/choc-slice_@1x.jpg"
                            alt="several cubes of chocolate">
                    </picture>
                    <p class="weight-for-order">100 g</p>
                </li>
                <li class="modal-buy-section-item">
                    <picture>
                        <source
                            srcset="../img/modal_buy_order/white-choc_@1x.jpg 1x, ../img/modal_buy_order/white-choc_@2x.jpg 2x" />
                        <img class="modal-buy-section-img" src="../img/modal_buy_order/white-choc_@1x.jpg"
                            alt="white and milk chocolate">
                    </picture>
                    <p class="weight-for-order">200 g</p>
                </li>
                <li class="modal-buy-section-item">
                    <picture>
                        <source
                            srcset="../img/modal_buy_order/choc_@1x.jpg 1x, ../img/modal_buy_order/choc_@2x.jpg 2x" />
                        <img class="modal-buy-section-img" src="../img/modal_buy_order/choc_@1x.jpg"
                            alt="chocolate bar">
                    </picture>
                    <p class="weight-for-order">300 g</p>
                </li>
            </ul>
        </div>
        <!-- ---------------------------------SVIPER----------------------------------------------------------- -->
        <div class="sellers-swiper-mobile sellers-swiperbuy">
            <ul class="swiper-wrapper buy">
                <li class="modal-buy-section-item swiper-slide">
                    <picture>
                        <source
                            srcset="../img/modal_buy_order/choc-slice_@1x.jpg 1x, ../img/modal_buy_order/choc-slice_@2x.jpg 2x" />
                        <img class="modal-buy-section-img" src="../img/modal_buy_order/choc-slice_@1x.jpg"
                            alt="several cubes of chocolate">
                    </picture>
                    <p class="weight-for-order">100 g</p>
                </li>

                <li class="modal-buy-section-item  swiper-slide">
                    <picture>
                        <source
                            srcset="../img/modal_buy_order/white-choc_@1x.jpg 1x, ../img/modal_buy_order/white-choc_@2x.jpg 2x" />
                        <img class="modal-buy-section-img" src="../img/modal_buy_order/white-choc_@1x.jpg"
                            alt="white and milk chocolate">
                    </picture>

                    <p class="weight-for-order">200 g</p>
                </li>
                <li class="modal-buy-section-item swiper-slide">
                    <picture>
                        <source
                            srcset="../img/modal_buy_order/choc_@1x.jpg 1x, ../img/modal_buy_order/choc_@2x.jpg 2x" />
                        <img class="modal-buy-section-img" src="../img/modal_buy_order/choc_@1x.jpg"
                            alt="chocolate bar">
                    </picture>

                    <p class="weight-for-order">300 g</p>
                </li>
            </ul>
            <div class="sellers-swiper-pagination"></div>
        </div>
        <!-- ---------------------------------/SVIPER----------------------------------------------------------- -->

        <form class="modal-buy-section-form">
            <label class="modal-buy-now-label" for=""><span>Personal information</span></label>
            <div class="modal-buy-now-name">
                <input class="modal-buy-now-input" type="text" placeholder="Name">
                <input class="modal-buy-now-input" type="text" placeholder="Surname">
            </div>
            <label class="modal-buy-now-label" for=""><span>Email</span></label>
            <div class="">
                <input class="modal-buy-now-input" type="email" placeholder="Enter your email">
            </div>
            <label class="modal-buy-now-label" for=""><span>Phone number</span></label>
            <div class="modal-buy-now-input-wrapper">
                <input class="modal-buy-now-input modal-phone-input" type="tel" placeholder="Phone number">
                <svg class="modal-buy-now-icon-flag" width="32" height="32">
                    <use href="../img/symbol-defs.svg#icon-ukraine"></use>
                </svg>
                <span class="code-number">+380</span>
            </div>
            <label class="modal-buy-now-label" for=""><span>Card number</span></label>
            <div class="modal-buy-now-input-wrapper">
                <input class="modal-buy-now-input" type="number" placeholder="Enter  card">
                <svg class="modal-buy-now-icon-mastercard" width="32" height="32">
                    <use href="../img/symbol-defs.svg#mastercard"></use>
                </svg>
            </div>
            <label class="modal-buy-now-label " for="feedback"><span
                    class="modal-form-input-description">Comment</span></label>
            <textarea id="feedback" class="modal-buy-now-textarea " name="message-user"
                placeholder="Enter text"></textarea>
            <button class="modal-buy-now-btn" type="button" data-thanks-open>Submit</button>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js%22%3E"></script>

<script>
    var swiper = new Swiper('.sellers-swiperbuy', {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
            el: '.sellers-swiper-pagination',
            clickable: true,
        },
    });
</script>

</form>