<div class="sellers-backdrop is-hidden" data-modal="sellers">
    <div class="modal-buy-section-container">
        <button type="button" class="modal-buy-close-btn" data-modal-close="sellers">
            <svg width="28" height="28" class="modal-close-btn-icon">
                <use href="./img/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="section-title modal-buy-section-title"><span>BUY</span> NOW</h2>

        <div class="sellers-swiper-desctop">
            <ul class="modal-buy-section-list">
                <li class="modal-buy-section-item">
                    <picture>
                        <source srcset="
                ./img/modal_buy_order/choc-slice_@1x.jpg 1x,
                ./img/modal_buy_order/choc-slice_@2x.jpg 2x
              " />
                        <img class="modal-buy-section-img" src="./img/modal_buy_order/choc-slice_@1x.jpg"
                            alt="several cubes of chocolate" />
                    </picture>
                    <p class="weight-for-order">100 g</p>
                </li>
                <li class="modal-buy-section-item">
                    <picture>
                        <source srcset="
                ./img/modal_buy_order/white-choc_@1x.jpg 1x,
                ./img/modal_buy_order/white-choc_@2x.jpg 2x
              " />
                        <img class="modal-buy-section-img" src="./img/modal_buy_order/white-choc_@1x.jpg"
                            alt="white and milk chocolate" />
                    </picture>
                    <p class="weight-for-order">200 g</p>
                </li>
                <li class="modal-buy-section-item">
                    <picture>
                        <source srcset="
                ./img/modal_buy_order/choc_@1x.jpg 1x,
                ./img/modal_buy_order/choc_@2x.jpg 2x
              " />
                        <img class="modal-buy-section-img" src="./img/modal_buy_order/choc_@1x.jpg"
                            alt="chocolate bar" />
                    </picture>
                    <p class="weight-for-order">300 g</p>
                </li>
            </ul>
        </div>
        <!-- SVIPER -->
        <div class="sellers-swiper-mobile sellers-swiperbuy">
            <ul class="swiper-wrapper buy">
                <li class="modal-buy-section-item swiper-slide">
                    <picture>
                        <source srcset="
                ./img/modal_buy_order/choc-slice_@1x.jpg 1x,
                ./img/modal_buy_order/choc-slice_@2x.jpg 2x
              " />
                        <img class="modal-buy-section-img" src="./img/modal_buy_order/choc-slice_@1x.jpg"
                            alt="several cubes of chocolate" />
                    </picture>
                    <p class="weight-for-order">100 g</p>
                </li>

                <li class="modal-buy-section-item swiper-slide">
                    <picture>
                        <source srcset="
                ./img/modal_buy_order/white-choc_@1x.jpg 1x,
                ./img/modal_buy_order/white-choc_@2x.jpg 2x
              " />
                        <img class="modal-buy-section-img" src="./img/modal_buy_order/white-choc_@1x.jpg"
                            alt="white and milk chocolate" />
                    </picture>

                    <p class="weight-for-order">200 g</p>
                </li>
                <li class="modal-buy-section-item swiper-slide">
                    <picture>
                        <source srcset="
                ./img/modal_buy_order/choc_@1x.jpg 1x,
                ./img/modal_buy_order/choc_@2x.jpg 2x
              " />
                        <img class="modal-buy-section-img" src="./img/modal_buy_order/choc_@1x.jpg"
                            alt="chocolate bar" />
                    </picture>

                    <p class="weight-for-order">300 g</p>
                </li>
            </ul>
            <div class="sellers-swiper-pagination"></div>
        </div>
        <!-- /SVIPER -->

        <form class="modal-buy-section-form" name="sellers_form">
            <label class="modal-buy-now-label" for="order_name">
                Personal information
            </label>
            <div class="modal-buy-now-name">
                <input class="modal-buy-now-input" id="order_name" name="order_name" type="text" placeholder="Name"
                    required minlength="3" pattern="[A-Za-zА-Яа-я\s-]+"
                    title="Username must be contain at least 3 letters." />
                <input class="modal-buy-now-input" id="order_surname" name="order_surname" type="text"
                    placeholder="Surname" required minlength="3" pattern="[A-Za-zА-Яа-я\s-]+"
                    title="Surname must be contain at least 3 letters." />
            </div>
            <label class="modal-buy-now-label" for="order_email">Email</label>
            <div class="">
                <input class="modal-buy-now-input" id="order_email" name="order_email" type="email"
                    placeholder="Enter your email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    title="Enter your current email address in format e-mail@domain.com" />
            </div>
            <label class="modal-buy-now-label" for="order_phone">
                Phone number
            </label>
            <div class="modal-buy-now-input-wrapper">
                <input class="modal-buy-now-input modal-phone-input" id="order_phone" name="order_phone" type="tel"
                    placeholder="Phone number" required pattern="[0-9]{9}" title="Enter your current phone number" />
                <svg class="modal-buy-now-icon-flag" width="32" height="32">
                    <use href="./img/symbol-defs.svg#icon-ukraine"></use>
                </svg>
                <span class="code-number">+380</span>
            </div>
            <label class="modal-buy-now-label" for="order_card">Card number</label>
            <div class="modal-buy-now-input-wrapper">
                <input class="modal-buy-now-input" id="order_card" name="order_card" type="number"
                    placeholder="Enter  card" required maxlength="16" pattern="[\d ]{16,16}"
                    title="Enter your current bank`s card number" />
                <svg class="modal-buy-now-icon-mastercard" width="32" height="32">
                    <use href="./img/symbol-defs.svg#mastercard"></use>
                </svg>
            </div>
            <label class="modal-buy-now-label" for="order_feedback">Comment</label>
            <textarea class="modal-buy-now-textarea" id="order_feedback" name="order_feedback"
                placeholder="Enter text"></textarea>
            <button class="modal-buy-now-btn" type="submit">Submit</button>
        </form>
    </div>
</div>