<div class="subscribe-backdrop is-hidden" data-modal="explore">
  <div class="subscribe-modal">
    <button
      class="subscribe-modal-btn"
      type="button"
      data-modal-close="explore"
    >
      <svg class="subscribe-modal-svg" width="24" height="24">
        <use href="./img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <form class="subscribe-form" name="explore_form">
      <img
        class="subscribe-modal-img"
        srcset="
          /img/modal_new_chocolate/mob_@1x.jpg 1x,
          /img/modal_new_chocolate/mob_@2x.jpg 2x
        "
        alt=""
      />
      <h2 class="subscribe-modal-title">
        EXPLORE OUR
        <span class="subscribe-orange"><br />NEW CHOCOLATE</span> FIRST!
      </h2>
      <input
        class="subcribe-input"
        type="mail"
        placeholder="Enter your email"
      />
      <button class="subscribe-modal-button" type="submit">Sumbit</button>
    </form>
  </div>
</div>
