<div class="subscribe-backdrop is-hidden" data-modal="explore">
  <div class="subscribe-modal">
    <button
      class="subscribe-modal-btn"
      type="button"
      data-modal-close="explore"
    >
      <svg class="subscribe-modal-svg" width="24" height="24">
        <use href="./img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <picture>
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/modal_new_chocolate/tabl-desk_@1x.jpg 1x,
          ./img/modal_new_chocolate/tabl-desk_@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/modal_new_chocolate/mob_@1x.jpg 1x,
          ./img/modal_new_chocolate/mob_@2x.jpg 2x
        "
      />
      <img
        class="subscribe-modal-img"
        src="./img/modal_new_chocolate/mob_@1x.jpg"
        alt=""
      />
    </picture>

    <form class="subscribe-form" name="explore_form">
      <p class="subscribe-modal-title">
        EXPLORE OUR
        <span class="subscribe-orange"><br />NEW CHOCOLATE</span> FIRST!
      </p>
      <div class="subscribe-form-field">
        <input
          class="subcribe-input"
          type="email"
          placeholder="Enter your email"
        />
        <button class="subscribe-modal-button" type="submit">Sumbit</button>
      </div>
    </form>
  </div>
</div>
