<footer class="footer" id="scroll">
  <div class="container">
    <div class="footer-box">
      <h2 class="footer-title">
        <span class="footer-accent">Chocolate</span> a delicious cure for a bad
        day
      </h2>
      <div class="address-box">
        <address>
          <p class="address-title">Contact us</p>
          <ul class="address-list">
            <li class="address-list-item">
              <a href="tel:+380684439426" class="address-link"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="contacts-list-item">
              <a href="mailto:simplychoc@gmail.com" class="address-link"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>

        <ul class="footer-socials-list">
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferer"
              aria-label="link to instagram"
            >
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="./img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://twitter.com/i/flow/login"
              target="_blank"
              rel="noopener noreferer"
              aria-label="link to twit"
            >
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="./img/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-line"></div>
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#home">Home</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#how-made">How it&apos;s made?</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#our-products">Our products</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#sellers">Top sellers</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#reviews">Chocolate is loved</a>
      </li>
    </ul>
  </div>
</footer>
