<link rel="stylesheet" href="../css/footer.css" />
<footer class="footer">
  <div class="container">
    <div class="footer-box">
      <h2 class="footer-title">
        <span class="footer-accent">Chocolate</span> a delicious cure for a bad
        day
      </h2>
      <div class="contacts-box">
        <p contacts-title>Contact us</p>
        <address>
          <ul class="contacts-list">
            <li class="contacts-list item">
              <a href="tel:+380684439426" class="contacts-link"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="contacts-list-item">
              <a href="mailto:simplychoc@gmail.com" class="contacts-link"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>
      </div>
      <ul>
        <li>
          <a
            class="socials-link"
            href="https://twitter.com/?request_context=signup"
            target="_blank"
            rel="noopener noreferer"
            aria-label="link to instagram"
          >
            <svg class="socials-icon" width="16" height="16">
              <use href="#"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="socials-link"
            href="#"
            target="_blank"
            rel="noopener noreferer"
            aria-label="link to twit"
          >
            <svg class="socials-icon" width="16" height="16">
              <use href="#"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <ul class="">
      <li><a class="footer-nav-link" href="">Home</a></li>
      <li><a class="footer-nav-link" href="">How it&apos;s made?</a></li>
      <li><a class="footer-nav-link" href="">Our products</a></li>
      <li><a class="footer-nav-link" href="">Top sellers</a></li>
      <li><a class="footer-nav-link" href="">Chocolate is loved</a></li>
    </ul>
  </div>
</footer>
