<header class="header" id="home">
  <div class="container mobile-container main-header">
    <nav class="header-nav">
      <a href="./index.html" class="logo">
        <span class="logo-style">SIMPLY</span> CHOCOLATE
        <svg class="logo-icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-chocolate-header"></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-link current" href="#home">Home</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#how-made">How it&apos;s made?</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#our-products">Our products</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#sellers">Top sellers</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="#reviews">Chocolate is loved</a>
        </li>
      </ul>
    </nav>

    <ul class="socials-list">
      <li class="socials-list-item">
        <a
          class="socials-list-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferer"
          aria-label="link to instagram"
        >
          <svg class="header-socials-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-list-item">
        <a
          class="socials-list-link"
          href="https://twitter.com/i/flow/login"
          target="_blank"
          rel="noopener noreferer"
          aria-label="link to twit"
        >
          <svg class="header-socials-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="header-burger js-open-menu" type="button">
      <svg class="burger-icon" width="21" height="14">
        <use href="./img/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
