<header class="header">
  <div class="container main-header">
    <nav class="header-nav">
      <a href="./index.html" class="logo"
        >SIMPLY CHOCOLATE<svg class="logo-icon" width="24" height="24">
          <use href="../img/symbol-defs.svg#icon-chocolate-header"></use></svg
      ></a>
      <button class="header-burger js-open-menu" type="button">
        <svg class="burger-icon" width="21" height="14">
          <use href="../img/symbol-defs.svg#icon-burger"></use>
        </svg>
      </button>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-link current" href="./index.html">Home</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">How it&apos;s made?</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">Our products</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">Top sellers</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="socials-list">
      <li class="socials-list-item">
        <a
          class="socials-list-link"
          href="#"
          target="_blank"
          rel="noopener noreferer"
          aria-label="link to instagram"
        >
          <svg class="header-socials-icon" width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-list-item">
        <a
          class="socials-list-link"
          href="#"
          target="_blank"
          rel="noopener noreferer"
          aria-label="link to twit"
        >
          <svg class="header-socials-icon" width="24" height="24">
            <use href="../img/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
