<header class="header">
  <a href="./index.html" class="logo"
    >SIMPLY CHOCOLATE<svg class="" width="24" height="24">
      <use href=""></use></svg
  ></a>
  <ul class="nav">
    <li><a href="">Home</a></li>
    <li><a href="">How it&apos;s made?</a></li>
    <li><a href="">Our products</a></li>
    <li><a href="">Top sellers</a></li>
    <li><a href="">Chocolate is loved</a></li>
  </ul>
  <ul>
    <li>
      <a
        class="socials-link"
        href="https://twitter.com/?request_context=signup"
        target="_blank"
        rel="noopener noreferer"
        aria-label="link to instagram"
      >
        <svg class="socials-icon" width="16" height="16">
          <use href="#"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        class="socials-link"
        href="#"
        target="_blank"
        rel="noopener noreferer"
        aria-label="link to twit"
      >
        <svg class="socials-icon" width="16" height="16">
          <use href="#"></use>
        </svg>
      </a>
    </li>
  </ul>
</header>
