<section class="hero">
  <div class="container hero-cont">
    <h1 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="hero-desc">
      <div class="buttons-hero">
        <button class="buy-btn" type="button" data-modal-open="sellers">
          Buy now
        </button>
        <a href="#made-scroll">
          <button class="made-btn" type="button">How it&#96;s made</button>
        </a>
      </div>
      <a class="scroll-btn" href="#scroll">
        <p class="scroll-btn-txt">scroll down</p>
        <svg class="scroll-icon">
          <use href="./img/symbol-defs.svg#scroll"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
