<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/hero.css" />
  </head>
  <body>
    <section class="hero">
      <div class="container">
        <h1 class="hero-title">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </h1>
        <button class="buy-btn" type="button">Buy now</button>
        <button class="made-btn" type="button">How its made</button>
        <p class="scroll">scroll down</p>
        <svg class="scroll-icon" width="28" height="28">
          <use href=""></use>
        </svg>
      </div>
    </section>
  </body>
</html>
