<section class="section hero">
  <div class="container hero-cont">
    <h1 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="hero-desc">
      <div class="buttons-hero">
        <button class="buy-btn" type="button">Buy now</button>
        <button class="made-btn" type="button">How it&#96;s made</button>
      </div>
      <button class="scroll-btn">
        <p class="scroll-btn-txt">scroll down</p>
        <svg class="scroll-icon">
          <use href="./img/symbol-defs.svg#scroll"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<!-- modal form -->
<div class="backdrop is-hidden">
  <div class="modal">
    <button class="review-close-btn" type="button">
      <svg class="review-close-icon" width="24px" height="24px">
        <use href="../img/symbol-defs.svg#review-close"></use>
      </svg>
    </button>
    <form class="review-form">
      <strong class="modal-review"
        >leave a review about
        <span class="strong-orang">our chocolate</span></strong
      >
      <label class="modal-review-field" for="">
        <input
          class="modal-review-input"
          type="text"
          placeholder="Name"
          requiered
        />
      </label>
      <label class="modal-review-field" for="">
        <input
          class="modal-review-input"
          type="text"
          placeholder="Enter your email"
          requiered
        />
      </label>
      <label class="modal-review-field" for="">
        <input
          class="modal-review-input"
          type="text"
          placeholder="Phone number"
          requiered
        />
      </label>
      <textarea
        class="user-form-review"
        name="user-review"
        placeholder="Enter text"
      ></textarea>
      <button class="send-btn" type="submit"></button>
    </form>
  </div>
</div>
