<div class="backdrop is-hidden" data-modal="reviews">
  <div class="modal">
    <button class="review-close-btn" type="button" data-modal-close="reviews">
      <svg class="review-close-icon" width="24px" height="24px">
        <use href="./img/symbol-defs.svg#icon-x-close"></use>
      </svg>
    </button>
    <form class="review-form" name="reviews_form">
      <strong class="modal-review-title"
        >leave a review about
        <span class="strong-orang">our chocolate</span></strong
      >
      <label class="modal-review-field">
        <input
          class="modal-review-input"
          type="text"
          placeholder="Name"
          name="user_name"
          minlength="2"
          required
        />
      </label>
      <label class="modal-review-field">
        <input
          class="modal-review-input"
          type="text"
          placeholder="Enter your email"
          name="user_email"
          title="example@gmail.com"
          minlength="2"
          pattern="^[a-zA-Zа-яА-Я]+$"
          required
        />
      </label>
      <label class="modal-review-field">
        <span class="modal-review-input-wrapper">
          <input
            class="modal-review-input input-ukr"
            type="text"
            placeholder="| Phone number"
            name="user_number"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
            required
            minlength="2"
          />
          <svg class="review-input-icon" width="24px" height="24px">
            <use href="./img/symbol-defs.svg#icon-ukraine"></use>
          </svg>
          <span class="input-numb">+380</span>
        </span>
      </label>
      <textarea
        class="user-form-review"
        name="user-review"
        placeholder="Enter text"
        minlength="2"
      ></textarea>
      <button class="send-btn" type="submit">Send</button>
    </form>
  </div>
</div>
