<!-- modal form -->
<div class="backdrop is-hidden" review-modal>
  <div class="modal">
    <button class="review-close-btn" type="button" review-modal-close>
      <svg class="review-close-icon" width="24px" height="24px">
        <use href="./img/symbol-defs.svg#icon-x-close"></use>
      </svg>
    </button>
    <form class="review-form">
      <strong class="modal-review-title"
        >leave a review about
        <span class="strong-orang">our chocolate</span></strong
      >
      <label class="modal-review-field">
        <input
          class="modal-review-input"
          type="text"
          placeholder="Name"
          name="user_name"
          minlength="2"
          requiered
        />
      </label>
      <label class="modal-review-field">
        <input
          class="modal-review-input"
          type="text"
          placeholder="Enter your email"
          name="user_email"
          title="example@gmail.com"
          requiered
        />
      </label>
      <label class="modal-review-field">
        <span class="modal-review-input-wrapper">
          <input
            class="modal-review-input input-ukr"
            type="text"
            placeholder="| Phone number"
            name="user_number"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
            requiered
          />
          <svg class="review-input-icon" width="24px" height="24px">
            <use href="./img/symbol-defs.svg#icon-ukraine"></use>
          </svg>
          <p class="input-numb">+380</p>
        </span>
      </label>
      <textarea
        class="user-form-review"
        name="user-review"
        placeholder="Enter text"
        name="user_text"
      ></textarea>
      <button class="send-btn" type="button" data-feedback-thanks-open>
        Send
      </button>
    </form>
  </div>
</div>
