<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lazy YouTube</title>
    <link rel="stylesheet" href="./menu-test.css" />
  </head>
  <body>
    <nav class="nav">
      <ul>
        <li><a href="#" class="active">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
        <li><a href="#">Five</a></li>
      </ul>
    </nav>

    <section class="section"></section>
    <section class="section"></section>
    <section class="section"></section>
    <section class="section"></section>
    <section class="section"></section>
    <script src="script.js"></script>
  </body>
</html>
<script>
  window.addEventListener('scroll', () => {
    let scrollDistance = window.scrollY;

    if (window.innerWidth > 320) {
      document.querySelectorAll('.section').forEach((el, i) => {
        if (
          el.offsetTop - document.querySelector('.nav').clientHeight <=
          scrollDistance
        ) {
          document.querySelectorAll('.nav a').forEach(el => {
            if (el.classList.contains('active')) {
              el.classList.remove('active');
            }
          });

          document
            .querySelectorAll('.nav li')
            [i].querySelector('a')
            .classList.add('active');
        }
      });
    }
  });
</script>
