<div class="mobile-menu js-menu-container">
  <button class="mobile-menu-close js-close-menu" type="button">closed</button>
  <ul class="footer-nav-list">
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="">Home</a>
    </li>
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="">How it&apos;s made?</a>
    </li>
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="">Our products</a>
    </li>
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="">Top sellers</a>
    </li>
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="">Chocolate is loved</a>
    </li>
  </ul>
  <ul class="">
    <li class="socials-list-item">
      <a
        class="socials-list-link"
        href="#"
        target="_blank"
        rel="noopener noreferer"
        aria-label="link to instagram"
      >
        <svg class="header-socials-icon" width="24" height="24">
          <use href="../img/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="socials-list-item">
      <a
        class="socials-list-link"
        href="#"
        target="_blank"
        rel="noopener noreferer"
        aria-label="link to twit"
      >
        <svg class="header-socials-icon" width="24" height="24">
          <use href="../img/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="../js/mobile_menu.js"></script>
