<div class="mobile-menu js-menu-container">
  <button class="mobile-menu-close js-close-menu" type="button">
    <svg class="close-icon" width="14" height="14">
      <use href="./img/symbol-defs.svg#icon-x-close"></use>
    </svg>
  </button>
  <nav class="nav">
    <ul class="menu-nav-list">
      <li class="menu-nav-item">
        <a class="menu-nav-link active" href="#home">Home</a>
      </li>
      <li class="menu-nav-item">
        <a class="menu-nav-link" href="#how-made">How it&apos;s made?</a>
      </li>
      <li class="menu-nav-item">
        <a class="menu-nav-link" href="#our-products">Our products</a>
      </li>
      <li class="menu-nav-item">
        <a class="menu-nav-link" href="#sellers">Top sellers</a>
      </li>
      <li class="menu-nav-item">
        <a class="menu-nav-link" href="#reviews">Chocolate is loved</a>
      </li>
    </ul>
  </nav>
  <ul class="menu-socials-list">
    <li class="menu-socials-item">
      <a
        class="menu-socials-link"
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferer"
        aria-label="link to instagram"
      >
        <svg class="menu-socials-icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="menu-socials-item">
      <a
        class="menu-socials-link"
        href="https://twitter.com/i/flow/login"
        target="_blank"
        rel="noopener noreferer"
        aria-label="link to twit"
      >
        <svg class="menu-socials-icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
