<section class="section products-section" id="our-products">
  <div class="container">
    <h2 class="made-titel">
      Our <span class="made-titel-right-part">pRODUCTS</span>
    </h2>

    <div class="swiper myswwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide prod">
          <img
            srcset="./img/products/desc-orange_@1x.jpg"
            class="photo"
            src="./img/products/desc-orange_@2x.jpg"
            alt="Photo"
            width="230"
            height="201"
          />
          <strong class="product-name">orange</strong>
          <p class="product-card-subtitle">Dark chocolate</p>
          <button class="product-button">45 UAH</button>
        </li>
        <li class="swiper-slide prod">
          <img
            srcset="./img/products/desc-apple_@1x.jpg"
            class="photo"
            src="./img/products/desc-apple_@2x.jpg"
            alt="Photo"
            width="230"
            height="201"
          />
          <strong class="product-name">APPLE&#38;CRANBERRY</strong>
          <p class="product-card-subtitle">Milk chocolate</p>
          <button class="product-button">50 UAH</button>
        </li>
        <li class="swiper-slide prod">
          <img
            srcset="./img/products/desc-lime_@1x.jpg"
            class="photo"
            src="./img/products/desc-lime_@2x.jpg"
            alt="Photo"
            width="230"
            height="201"
          />
          <strong class="product-name">lime&#38;sea salt</strong>
          <p class="product-card-subtitle">Dark chocolate</p>
          <button class="product-button">66 UAH</button>
        </li>
        <li class="swiper-slide prod">
          <img
            srcset="./img/products/desc-pineapple_@1x.jpg"
            class="photo"
            src="./img/products/desc-pineapple_@2x.jpg"
            alt="Photo"
            width="230"
            height="201"
          />
          <strong class="product-name">pineapple</strong>
          <p class="product-card-subtitle">Dark chocolate</p>
          <button class="product-button">54 UAH</button>
        </li>
        <li class="swiper-slide prod">
          <img
            srcset="./img/products/classic-desc_@1x.jpg"
            class="photo"
            src="./img/products/classic-desc_@2x.jpg"
            alt="Photo"
            width="230"
            height="201"
          />
          <strong class="product-name">Classic</strong>
          <p class="product-card-subtitle">Milk chocolate</p>
          <button class="product-button">45 UAH</button>
        </li>
        <li class="swiper-slide prod">
          <img
            srcset="./img/products/honey-desc_@1x.jpg"
            class="photo"
            src="./img/products/honey-desc_@2x.jpg"
            alt="Photo"
            width="230"
            height="201"
          />
          <strong class="product-name">Honey</strong>
          <p class="product-card-subtitle">Milk chocolate</p>
          <button class="product-button">50 UAH</button>
        </li>
        <li class="swiper-slide prod">
          <img
            srcset="./img/products/roasted-desc_@1x.jpg"
            class="photo"
            src="./img/products/roasted-desc_@2x.jpg"
            alt="Photo"
            width="230"
            height="201"
          />
          <strong class="product-name">roasted fruits</strong>
          <p class="product-card-subtitle">Dark chocolate</p>
          <button class="product-button">66 UAH</button>
        </li>
        <li class="swiper-slide prod">
          <img
            srcset="./img/products/white-classic-desc_@1x.jpg"
            class="photo"
            src="./img/products/white-classic-desc_@2x.jpg"
            alt="Photo"
            width="230"
            height="201"
          />
          <strong class="product-name">Classic</strong>
          <p class="product-card-subtitle">White chocolate</p>
          <button class="product-button">54 UAH</button>
        </li>
      </ul>
      <div class="swiper-pagination product"></div>
    </div>
  </div>
</section>
