<section class="section reviews-section" id="reviews">
  <h2 class="made-titel">
    <span class="made-titel-right-part">chocolate</span> is loved
  </h2>
  <div class="container">
    <div class="rev swiper myswipernav">
      <div class="swiper-wrapper">
        <div class="swiper-slide rev">
          <img
            class="reviews-photo"
            srcset="./img/review/girl-1_@2x.jpg 2x"
            src="./img/review/girl-1_@1x.jpg"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-user">
            <h3 class="reviews-name">Victoria Dobrzhanska</h3>
            <p class="reviews-text">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </div>
        <div class="swiper-slide rev">
          <img
            class="reviews-photo"
            srcset="./img/review/boy_@2x.jpg 2x"
            src="./img/review/boy_@1x.jpg"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-user">
            <h3 class="reviews-name">Nazar Babenko</h3>
            <p class="reviews-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </div>
        <div class="swiper-slide rev">
          <img
            class="reviews-photo"
            srcset="./img/review/girl-2_@2x.jpg 2x"
            src="./img/review/girl-2_@1x.jpg"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-user">
            <h3 class="reviews-name">Olena Kampusch</h3>
            <p class="reviews-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </div>
        <div class="swiper-slide rev">
          <img
            class="reviews-photo"
            srcset="./img/review/sus_@2x.jpg 2x"
            src="./img/review/sus_@1x.jpg"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-user">
            <h3 class="reviews-name">Natalia Sus</h3>
            <p class="reviews-text">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </div>
        <div class="swiper-slide rev">
          <img
            class="reviews-photo"
            srcset="./img/review/danilo_@2x.jpg 2x"
            src="./img/review/danilo_@1x.jpg"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-user">
            <h3 class="reviews-name">Danilo Nottingham</h3>
            <p class="reviews-text">
              This is delicious. It so rich and flavorful you don&#39;t need to
              use as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </div>
        <div class="swiper-slide rev">
          <img
            class="reviews-photo"
            srcset="./img/review/irina_@2x.jpg 2x"
            src="./img/review/irina_@1x.jpg"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-user">
            <h3 class="reviews-name">Irina Tydnyuk</h3>
            <p class="reviews-text">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class :)
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination rev"></div>
    </div>
    <div class="button-wrapper">
      <button type="button" class="button-review" data-modal-open="reviews">
        Leave a review
      </button>
    </div>
  </div>
</section>
