<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sellers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
        integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/About.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/sellers.css">
</head>

<body>
    <!-- =========================================SELLERS SECTION========================================= -->
    <section class="container  sellers-desktop-container" id="sellers">
        <h2 class="sellers-section-title"><span class="color-top">Top</span> Sellers</h2>
        <ul class="sellers-list">
            <li class="sellers-item">
                <picture class="sellers-picture">
                    <source srcset="../img/top_sellers/desc-nuts_@1x.jpg 1x, ../img/top_sellers/desc-nuts_@2x.jpg 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="../img/top_sellers/tabl-nuts_@1x.jpg 1x, ../img/top_sellers/tabl-nuts_@2x.jpg 2x"
                        media="(max-width: 1199px)" />
                    <source srcset="../img/top_sellers/mob-nuts_@1x.jpg 1x, ../img/top_sellers/mob-nuts_@2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <img class="sellers-img" src="../img/top_sellers/desc-nuts_@1x.jpg" alt="nuts chocolate" width="368"
                        height="464">
                </picture>
                <p class="sellers-text sellers-mobile-tablet-text">Crazy enough chocolate originates from a bean just
                    like the coffee bean called
                    Cacao. Cacao has been around for thousands of years and was first discovered by the Native American
                    tribe called the Mayans.</p>
            </li>
            <li class="sellers-item">
                <picture class="sellers-picture">
                    <source srcset="../img/top_sellers/desc-milk_@1x.jpg 1x, ../img/top_sellers/desc-milk_@2x.jpg 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="../img/top_sellers/tabl-milk_@1x.jpg 1x, ../img/top_sellers/tabl-milk_@2x.jpg 2x"
                        media="(max-width: 1199px)" />
                    <source srcset="../img/top_sellers/mob-milk_@1x.jpg 1x, ../img/top_sellers/mob-milk_@2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <img class="sellers-img" src="../img/top_sellers/desc-milk_@1x.jpg" alt="milk chocolate" width="368"
                        height="464">

                </picture>
                <button type="button" class="sellers-buy-now-btn tab-mob-btn" sellers-data-modal-open>Buy now</button>
            </li>
            <li class="sellers-item">
                <picture class="sellers-picture">
                    <source
                        srcset="../img/top_sellers/desc-choc_@1x.jpg 1x, ../img/top_sellers/desc-choc_@2x.jpg  2x" />

                    <img class="sellers-img" src="../img/top_sellers/desc-choc_@1x.jpg" alt="dark chocolate" width="368"
                        height="464">
                </picture>
            </li>
        </ul>
        <div class="sellers-text-wrapper container">
            <p class="sellers-text sellers-desktop-text-hide">Crazy enough chocolate originates from a bean just like
                the
                coffee bean called
                Cacao.
                Cacao has been around
                for
                thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            <button type="button" class="sellers-buy-now-btn  desk-btn" sellers-data-modal-open>Buy now</button>
        </div>

    </section>
    <!-- =========================================/SELLERS SECTION========================================= -->
    <script src="../js/buy-now.js"></script>
</body>

</html>