<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sellers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
        integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/sellers.css">
</head>

<body>
    <section class="container">
        <h2 class="section-title">Top Sellers</h2>
        <ul class="sellers-list">
            <li class="sellers-item">
                <picture>
                    <source srcset="../img/ 1x, ../img/ 2x" /><img src="" alt="" width="368" height="464">
                </picture>
                <img src="../img/" alt="chocolate1">
            </li>
            <li class="sellers-item">
                <picture>
                    <source srcset="../img/ 1x, ../img/ 2x" /><img src="" alt="" width="368" height="464">
                </picture>
                <img src="../img/" alt="chocolate1">
            </li>
            <li class="sellers-item">
                <picture>
                    <source srcset="../img/ 1x, ../img/ 2x" /><img src="" alt="" width="368" height="464">
                </picture>
                <img src="../img/" alt="chocolate1">
            </li>
        </ul>
        <div class="sellers-text-wrapper"> </div>
        <p class="sellers-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao.
            Cacao has been around
            for
            thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
        <button type="button" class="buy-now-btn">Buy now</button>
        </div>
    </section>
    <div></div>
</body>

</html>