<section class="sellers-desktop-container" id="sellers">
  <div class="container">
    <h2 class="sellers-section-title">
      <span class="color-top">Top</span> Sellers
    </h2>
    <ul class="sellers-list">
      <li class="sellers-item">
        <picture class="sellers-picture">
          <source
            srcset="
              ./img/top_sellers/desc-nuts_@1x.jpg 1x,
              ./img/top_sellers/desc-nuts_@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/top_sellers/tabl-nuts_@1x.jpg 1x,
              ./img/top_sellers/tabl-nuts_@2x.jpg 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./img/top_sellers/mob-nuts_@1x.jpg 1x,
              ./img/top_sellers/mob-nuts_@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="sellers-img"
            src="./img/top_sellers/desc-nuts_@1x.jpg"
            alt="nuts chocolate"
            width="368"
            height="464"
          />
        </picture>
        <p class="sellers-text sellers-text-mobile">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers-item">
        <picture class="sellers-picture">
          <source
            srcset="
              ./img/top_sellers/desc-milk_@1x.jpg 1x,
              ./img/top_sellers/desc-milk_@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/top_sellers/tabl-milk_@1x.jpg 1x,
              ./img/top_sellers/tabl-milk_@2x.jpg 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./img/top_sellers/mob-milk_@1x.jpg 1x,
              ./img/top_sellers/mob-milk_@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="sellers-img"
            src="./img/top_sellers/desc-milk_@1x.jpg"
            alt="milk chocolate"
            width="368"
            height="464"
          />
        </picture>
      </li>
      <li class="sellers-item">
        <picture class="sellers-picture">
          <source
            srcset="
              ./img/top_sellers/desc-choc_@1x.jpg 1x,
              ./img/top_sellers/desc-choc_@2x.jpg 2x
            "
          />

          <img
            class="sellers-img"
            src="./img/top_sellers/desc-choc_@1x.jpg"
            alt="dark chocolate"
            width="368"
            height="464"
          />
        </picture>
      </li>
    </ul>
    <div class="sellers-text-wrapper container">
      <p class="sellers-text sellers-text-tablet">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button
        type="button"
        class="sellers-buy-now-btn desk-btn"
        data-modal-open="sellers"
      >
        Buy now
      </button>
    </div>
  </div>
</section>
