<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <section class="section bg-sub-img">
        <div class="container subscribe-container">
            <div class="subscribe-text-container">
      <h2 class="subscribe-title">EXPLORE OUR NEW <br>CHOCOLATE FIRST</h2>
      <p class="subscribe-text">
        From the velvety texture to the rich and complex flavor, our New
        Chocolate is a true indulgence that will leave you craving more. Made
        with only the finest ingredients and handcrafted with the utmost care,
        each piece is a work of art that is sure to please.
      </p></div>
      <button class="subscribe-button" type="button">Subscribe</button>
    </div>
    </section>
    <div class="subscribe-backdrop">
      <div class="subscribe-modal">
          <form class="subscribe-form">
              <img class="subscribe-modal-img" srcset="../img/modal_new_chocolate/mob_@1x.jpg 1x, ../img/modal_new_chocolate/mob_@2x" alt="">
              <h2 class="subscribe-modal-title">EXPLORE OUR <span class="subscribe-orange">&nbspNEW CHOCOLATE</span> FIRST!</h2>
              <input class="subcribe-input" type="mail">
              <button class="subscribe-modal-button" type="button">Sumbit</button>
          </form>
      </div>
  </div>
  </body>
</html>
