.subscribe-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  z-index: 10;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.subscribe-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.subscribe-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  max-width: 311px;
  width: 100%;

  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .subscribe-modal {
    max-width: 538px;
  }
}

.subscribe-modal-btn {
  position: absolute;
  top: 15px;
  right: 14px;

  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  stroke: #fff;
  background-color: transparent;
  border: none;
}

.subscribe-form {
  padding: 32px 24px;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    padding: 40px;
  }
}

.subscribe-modal-title {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black-main);
}

@media screen and (min-width: 768px) {
  .subscribe-modal-title {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: calc(28 / 24);
  }
}

.subscribe-orange {
  color: #fd9222;
}
.explore-form {
  position: relative;
  padding: 0 24px;
}

.subscribe-form-field {
  display: flex;
}

@media screen and (max-width: 767px) {
  .subscribe-form-field {
    border: 1px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 25px;
  }
}

.subcribe-input {
  width: 100%;

  background-color: transparent;
  border: none;
  outline: transparent;
  padding: 14px 18px;
}

@media only screen and (min-width: 768px) {
  .subcribe-input {
    margin-right: 8px;
    border-radius: 25px;
    border: 1px solid rgba(17, 17, 17, 0.05);
    transition: border-color 250ms ease-in;
  }
}

.subcribe-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: -0.02em;
}

.subcribe-input:focus {
  border-color: #fd9222;
}

.subscribe-modal-button {
  flex-shrink: 0;
  width: 100px;
  height: 45px;
  border-radius: 100px;
  border: 1px solid transparent;
  background-color: #fd9222;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .subscribe-modal-button {
    width: 137px;
    height: 52px;
  }
}

.close-modal {
  animation: close-modal 1500ms ease-in both;
}
@keyframes close-modal {
  0% {
    transform: translateX(0) rotateY(0) scale(1);
    transform-origin: 2000px 50%;
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) rotateY(30deg) scale(0);
    transform-origin: -100% 50%;
    opacity: 1;
  }
}
