.subscribe-backdrop{
    max-width: 311px;
  }
  
  .subscribe-modal{
  position: relative;
  }
  
  .subscribe-form{
    border-radius: 15px;
    background-color:var(--white-main) ;
  }
  
  .subscribe-modal-img{
    border-radius: 15px;
  }
  
  .subscribe-modal-title{
    color: var(--black-main);
    padding: 32px 24px 24px 24px;
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  }
  
  .subscribe-orange{
    color: var(--orange-main);
  }
  
  .subcribe-input{
    padding: 14px 18px;
    width: 263px;
    margin:0 24px 32px 24px;
    border-radius: 25px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    background-color: var(--white-main);
  }
  
  .subscribe-modal-button{
    position: absolute;
    padding: 14px 22px;
    color: white;
    background-color: var(--orange-main);
    border-radius: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    transform: translateX(-125%) translateY(4%);
  }