.main-header {
  display: flex;
}
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 36px;
  margin-right: 216px;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  text-decoration: none;

  color: #111111;
}

.header-nav {
  display: flex;
}
.nav-list {
  display: flex;
  margin-right: 137px;
}

.nav-list-item:not(:last-child) {
  margin-right: 24px;
}

.socials-list {
  display: flex;
}
