
.hero-cont {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero/mob-bg_hero_@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 335px;
    height: 620px;  */
    border-radius: 30px;
    padding-top: 395px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-cont {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero/mob-bg_hero_@2x.jpg);
    }
}
@media only screen and (min-width: 768px) {
    .hero-cont {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero/tablet-bg_hero@1x.jpg);
        padding-top: 671px;
        padding-bottom: 40px;
    }

    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
        .hero-cont {
            background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero/tablet-bg_hero@2x.jpg);
        }
    }
    .hero-cont {
        padding-left: 40px;
        padding-right: 40px;
                        }
    
}
@media only screen and (min-width: 1200px) {
    .hero-cont {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero/desk-bg-hero_@1x.jpg);
        padding-top: 381px;
        padding-bottom: 40px;
    }

    @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
    (min-resolution: 192dpi) and (min-width: 1200px),
    (min-resolution: 2dppx) and (min-width: 1200px) {
        .hero-cont {
            background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero/desk-bg-hero_@2x.jpg);
        }
    }
    .hero-cont {
        padding-left: 40px;
        padding-right: 40px;
    }
    
}
.hero-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: #ffffff; 
    width: 299px;
    height: 72px;
    margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 28px;
    line-height: 1.21;
    width: 484px;
    height: 102px;
  }
}
.buttons-hero {
    display: flex;
    position: relative;
}
@media only screen and (min-width: 768px) {
  .buttons-hero {
    width: 341px;
    height: 45px;
  }
}
.buy-btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 28px;
    gap: 14px;
    width: 120px;
    height: 41px;
    padding: 12px 28px;
    background: #FD9222;
    border-radius: 100px;
    border: 0;
    margin-right: 14px;
}
.buy-btn:hover,
.buy-btn:focus {
    color: #FD9222; 
    background: #FCF1E0;
}
@media only screen and (min-width: 768px) {
  .buy-btn {
    width: 144px;
    height: 45px;
    padding: 14px 40px;
  }
} 


.made-btn {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.21;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 28px;
    gap: 14px;
    width: 159px;
    height: 41px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    background-color: transparent;
}
.made-btn:hover,
.made-btn:focus {
    color: #FD9222;
    border: 1px solid #FD9222;
    background-color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .made-btn {
    width: 183px;
    height: 45px;
    padding: 14px 40px;
    align-items: center;
  }
}
.scroll-cont {
    display: inline-block;
    margin-top: 32px;
}
@media only screen and (min-width: 768px) {
  .scroll-cont {
    display: flex;
    position: absolute;
    bottom: -1%;
    right: 12%
  }
}
@media only screen and (min-width: 1200px) {
    .scroll-cont {
    display: flex;
    position: absolute;
    bottom: 33%;
    right: 12%
    }
}
.scroll-btn-txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    background: transparent;

}
.scroll-btn-txt:hover,
.scroll-btn-txt:focus {
    color: #FD9222;;
}
@media only screen and (min-width: 768px) {
  .scroll-btn-txt {
    margin-right: 14px;
  }
}
.scroll-btn {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding-top: 5px;
}
.scroll-btn:hover,
.scroll-btn:focus {
    background-color: #FD9222;
    stroke: #FFFFFF;
    color: #FFFFFF;

}
@media only screen and (min-width: 768px) {
  .scroll-btn {
    width: 38px;
    height: 38px;
  }
}

.scroll-icon {
    width: 16px;
    height: 16px;
    fill: #FD9222;
}
.scroll-icon:hover,
.scroll-icon:focus {
    fill: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .scroll-icon {
    width: 22px;
    height: 22px;
  }
}

