/* _______________________________mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0px;
  width: 220px;
  height: 100vh;
  padding: 32px;
  background-color: #1e1823;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    width: 290px;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;

  width: 28px;
  height: 28px;
  background-color: #1e1823;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-icon {
  stroke: rgba(255, 255, 255, 1);
  width: 14px;
  height: 14px;
}
@media only screen and (min-width: 768px) {
  .close-icon {
    width: 16px;
    height: 16px;
  }
  .mobile-menu-close {
    width: 32px;
    height: 32px;
  }
}

.close-icon .menu-nav-list {
  position: absolute;
  top: 136px;
  left: 50%;
  transform: translate(-50%);
}

.menu-nav-item:not(:last-child) {
  margin-bottom: 24px;
}
.menu-nav-link {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  line-height: calc(16 / 14);
  color: #ffffff;
  position: relative;
}

.menu-nav-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 1px;
  display: block;
  width: 24px;
  height: 1px;
  background-color: #fd9222;
  border-radius: 2px;
}

.menu-nav-link:hover {
  color: #fd9222;
}

.menu-socials-list {
  display: flex;
  gap: 18px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.menu-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 25%;
}

.menu-socials-link .menu-socials-icon:hover,
.menu-socials-link .menu-socials-icon:focus,
.menu-socials-link .menu-socials-icon:active {
  stroke: #fd9222;
}

.menu-socials-icon {
  width: 22px;
  height: 22px;

  fill: #1e1823;
  stroke: #fafafa;
}

@media only screen and (min-width: 768px) {
  .menu-socials-icon {
    width: 24px;
    height: 24px;
  }
}
