.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide.rev {
  margin-top: 100px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 335px !important;
  height: 200px !important;
}

@media screen and (min-width: 768px) {
  .swiper-slide.rev {
    width: 344px !important;
  }
}
@media screen and (min-width: 1200px) {
  .swiper-slide.rev {
    width: 360px !important;
  }
}
.reviews-photo {
  width: 80px !important;
  position: absolute;
  bottom: 160px;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .reviews-photo {
    bottom: 160px;
  }
}
.reviews-name {
  text-align: center;
  font-size: 18px;
  line-height: 1.33em;
  padding-bottom: 24px;
  text-align: center;

  color: #111111;
}
.reviews-user {
  width: 299px;
}
.reviews-text {
  font-size: 14px;
  line-height: 1.29em;
  margin-bottom: 42px;

  text-align: center;
  letter-spacing: -0.02em;

  color: rgba(17, 17, 17, 0.7);
}
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  transition: ease-out 0.25s;
}
.swiper-pagination-bullet-active {
  transition: ease-in 0.25s;
  background-color: var(--orange);
  width: 28px;
  border-radius: 7px;
}
.swiper-wrapper {
  cursor: grab;
}
.button-review {
  font: inherit;
  padding: 14px 40px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2em;
  background-color: #fafafa;
  transition: ease-out 0.3s;
  color: #111111;
}
.button-review:hover,
.button-review:focus {
  background-color: #fd9222;
  color: #fafafa;
  transition: ease-in 0.3s;
}
.reviews-section {
  background-color: #fafafa;
}
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 50px; */
  margin-bottom: 72px;
}
@media screen (min-width: 768px) {
  .button-wrapper {
    margin-bottom: 100px;
  }
}
@media screen (min-width: 1200px) {
  .button-wrapper {
    margin-bottom: 128px;
  }
}
.swiper-pagination.rev {
  position: static;
  padding-top: 20px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .swiper-pagination.rev {
    padding-top: 31px;
    margin-bottom: 50px;
  }
}
