@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./styles.css');
/* <!-- =========================================SELLERS SECTION========================================= --> */
.sellers-desktop-container .sellers-mobile-tablet-container {
  background-color: #fff;
}

.sellers-mobile-tablet-text {
  list-style-type: none;
}

.sellers-section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.sellers-text {
  display: inline-block;
  max-width: 407px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #111111;
}
.sellers-item {
  border-radius: 15px;
  overflow: hidden;
}

.sellers-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 32px;
}

.sellers-text-wrapper {
  display: flex;
  margin-top: 0;

  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.sellers-buy-now-btn {
  justify-content: center;
  padding: 14px 40px;
  background: var(--orange-main);

  min-width: 109px;
  border-radius: 100px;
  border-color: transparent;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  transition: color 500ms linear, background-color 500ms linear;
}

.sellers-buy-now-btn:hover,
.sellers-buy-now-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
.sellers-item .sellers-picture .sellers-img {
  border-radius: 15px;
}
/* ---------------------M O B I L E --------------------- */
@media screen and (max-width: 767px) {
  .sellers-desktop-text-hide {
    display: none;
  }

  .sellers-item:last-child {
    display: none;
  }
  .desk-btn {
    display: none;
  }

  .sellers-item {
    max-width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sellers-img {
    margin-top: 32px;
    margin-bottom: 20px;
  }

  .sellers-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
/* ---------------------T A B L E T --------------------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sellers-section-title {
    margin-bottom: 32px;
  }
  .sellers-desktop-text-hide {
    display: none;
  }
  .sellers-item:last-child {
    display: none;
  }

  .desk-btn {
    display: none;
  }

  .sellers-item {
    display: flex;
    flex-direction: column;
    max-width: 344px;
  }
  .sellers-text {
    width: 306px;
    font-size: 14px;
    line-height: 1.28;
  }

  .sellers-img {
    margin-bottom: 32px;
  }

  .sellers-buy-now-btn {
    margin-left: auto;
  }

  .sellers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}
/* ---------------------D E S K T O P --------------------- */
@media screen and (min-width: 1200px) {
  .sellers-mobile-tablet-text {
    display: none;
  }

  .sellers-section-title {
    margin-bottom: 50px;
  }

  .sellers-text {
    max-width: 407px;
  }

  .sellers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .tab-mob-btn {
    display: none;
  }
}
/* <!-- =========================================/SELLERS SECTION========================================= --> */
